.icon {
    width: 50px;
    height: 50px;

}

.slogan {
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    margin-top: 100px;
}

.photoSlogan {
    width: 300px;
    height: 300px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    position: sticky;
    top: 0;
    background-color: red;
}

.header1and2, .header3and4 {
    display: flex;
}

body {
    margin: 0px;
    height: 100vh;
}

.header1 {
    display: flex;
    align-items: center;
}

.sectionIimage {
    width: 300px;
    height: 300px;
    padding: 5px;
}

#section1 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    flex-wrap: wrap;
    align-content: 50px;
}

#section2 {
    display: flex;
    justify-content: space-evenly;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 200px;
    border-radius: 10px;
    text-align: center;
}

.price__item {
    display: flex;
    justify-content: center;
    background-color: grey;
    width: 120%;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;

}